# Initial EDA of the data

## Import the standard libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

## EDA on transactions data

In [3]:
DATA_PATH = r'C:\Users\OlaBola\Desktop\kkbox-churn-prediction-challenge'

In [4]:
members_df = pd.read_csv(os.path.join(DATA_PATH, 'members_v3.csv', 'members_v3.csv'))
members_df.head()

,msno,city,bd,gender,registered_via,registration_init_time
0,Rb9UwLQTrxzBVwCB6+bCcSQWZ9JiNLC9dXtM1oEsZA8=,1,0,NaN,11,20110911
1,+tJonkh+O1CA796Fm5X60UMOtB6POHAwPjbTRVl/EuU=,1,0,NaN,7,20110914
2,cV358ssn7a0f7jZOwGNWS07wCKVqxyiImJUX6xcIwKw=,1,0,NaN,11,20110915
3,9bzDeJP6sQodK73K5CBlJ6fgIQzPeLnRl0p5B77XP+g=,1,0,NaN,11,20110915
4,WFLY3s7z4EZsieHCt63XrsdtfTEmJ+2PnnKLH5GY4Tk=,6,32,female,9,20110915

In [5]:
members_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6769473 entries, 0 to 6769472
Data columns (total 6 columns):
 #   Column                  Dtype
---  ------                  -----
 0   msno                    object
 1   city                    int64
 2   bd                      int64
 3   gender                  object
 4   registered_via          int64
 5   registration_init_time  int64
dtypes: int64(4), object(2)
memory usage: 309.9+ MB

In [6]:
members_df.describe()

               city            bd  registered_via  registration_init_time
count  6.769473e+06  6.769473e+06    6.769473e+06            6.769473e+06
mean   3.847358e+00  9.795794e+00    5.253069e+00            2.014518e+07
std    5.478359e+00  1.792590e+01    2.361398e+00            2.318601e+04
min    1.000000e+00 -7.168000e+03   -1.000000e+00            2.004033e+07
25%    1.000000e+00  0.000000e+00    4.000000e+00            2.014042e+07
50%    1.000000e+00  0.000000e+00    4.000000e+00            2.015101e+07
75%    4.000000e+00  2.100000e+01    7.000000e+00            2.016060e+07
max    2.200000e+01  2.016000e+03    1.900000e+01            2.017043e+07

In [7]:
members_df.isna().sum()

msno                            0
city                            0
bd                              0
gender                    4429505
registered_via                  0
registration_init_time          0
dtype: int64